.colored-text{color:#0074e4}
.back-link a,.job-desc-header a,.back-link a:visited,.job-desc-header a:visited,.back-link a:hover,.job-desc-header a:hover,.back-link a:active,.job-desc-header a:active{color:#333}
.centered-section{text-align:center}
.combobox{position:relative}
.combobox .filter-pane{background-color:#fff;display:none;position:absolute;width:100%}
.combobox .combobox-options li{padding-top:5px}
.search-textbox .zsg-search-button,.combobox .zsg-search-button{font-size:1.2em;height:auto;margin:4px;width:45px}
.openings-page-img{background:url("../../../static/images/z-jobs/BannerImage_Listings2_ZillowJobs_Redlines_a.png") no-repeat scroll 0 0 rgba(0,0,0,0);max-width:none;position:relative;background-position:top}
.openings-page{margin:0 10% 10px}
.openings-page .loading{opacity:.4}
.zsg-content-header{color:#fff}
.back-link a,.back-link a:visited,.back-link a:hover,.back-link a:active{color:#fff}
.back-link,.banner-section{padding-top:15px}
.search-filters{font-size:16px}
.search-filters .zsg-lg-1-3{margin-bottom:15px}
.search-filters .zsg-searchbox_lg input,.search-filters .filter-pane-text-box{height:50px}
.search-filters .filter-pane-text-box{background-color:#fff;line-height:35px;padding:8px}
.search-filters .filter-pane-text-box a{color:#333}
.search-filters .zsg-searchbox_lg .zsg-search-button{margin:5px;font-size:1.6em;width:45px;height:auto}
.search-filters .combobox-open .filter-pane{display:block;z-index:1}
.search-filters .options-display{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:75%}
.job-list-header{margin:0}
.job-list .zsg-g{border-bottom:1px solid #ccc;padding:10px;color:#333;font-size:16px}
a.job-list:hover .zsg-g{background-color:#e2effc}
.job-desc .back-link a,.job-desc .openings-back-link a,.job-desc .desc-header a,.job-desc .back-link a:visited,.job-desc .openings-back-link a:visited,.job-desc .desc-header a:visited,.job-desc .back-link a:hover,.job-desc .openings-back-link a:hover,.job-desc .desc-header a:hover,.job-desc .back-link a:active,.job-desc .openings-back-link a:active,.job-desc .desc-header a:active{color:#333}
.job-desc .openings-back-link{display:none}
@media screen and (min-width:481px) and (max-width:768px){.banner-section{padding-top:30px}
}
@media screen and (max-width:480px){.openings-page-img{background:url("../../../static/images/z-jobs/ZJobs_Mobile_Opportunities_Hero_2X.jpg") no-repeat scroll center bottom / cover}
.position{font-weight:bold}
.back-link a,.back-link a:visited,.back-link a:hover,.back-link a:active{color:#333}
}